.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container-ll{
  overflow: auto;
  height:700px;
  
}
.container-extendend{
  margin-right: 2rem;
  margin:0px;
  background-color: #eee;
  box-shadow: 1px 3px 1px #aaa;
}
.navbar-app{
  margin-bottom: 20px;
}

@media (max-width:48em){
  .container-ll{
    overflow: auto;
    height:350px;    
  }
  .container-extendend {
    margin-top: 1rem;
  }
}